In [1]:
import pandas as pd
import numpy as np

The first step is to read the data and check for null values

In [2]:
data = pd.read_csv('Products.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3058 entries, 0 to 3057
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product Id   3058 non-null   int64
 1   Weight (kg)  3054 non-null   object
 2   Length (m)   3053 non-null   object
 3   Width (m)    3056 non-null   object
 4   Height (m)   3054 non-null   object
dtypes: int64(1), object(4)
memory usage: 119.6+ KB

AS we can see there are some null values in the data. These null values can be replaced by either using the forward fill of backward fill methods. Before we choose a method lets check the first and last few rows of the dataframe

In [3]:
data.head()

   Product Id Weight (kg) Length (m) Width (m) Height (m)
0       44331       1.025     0.2286    0.1524     0.0508
1       44352       0.504       0.14      0.04       0.16
2       44373       0.488      0.105     0.105      0.075
3       44394      1.0028       0.11      0.11       0.15
4       44415        0.55       0.13      0.13       0.11

In [4]:
data.tail()

      Product Id Weight (kg) Length (m) Width (m) Height (m)
3053      129234      0.0061       0.13      0.05       0.03
3054      129255      0.0114       0.06      0.03       0.16
3055      129276         0.3       0.06     0.042      0.195
3056      129297           0          0         0          0
3057      129318       0.798      0.115      0.05      0.235

Since neither the first or last row contains any null values we are good to use any of the two fill methods. Here we use backwardfill to replace the null values.

In [5]:
data = data.fillna(method ='bfill')

Now lets check the summary of the dataframe again. We can see there are no null values in the dataframe.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3058 entries, 0 to 3057
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product Id   3058 non-null   int64
 1   Weight (kg)  3058 non-null   object
 2   Length (m)   3058 non-null   object
 3   Width (m)    3058 non-null   object
 4   Height (m)   3058 non-null   object
dtypes: int64(1), object(4)
memory usage: 119.6+ KB

Now lets procced to check for wrong string values. For that we go through each column and find the unique values. From the unique values we can filter out any unwanted string inputs.

In [7]:
unique_weight = data["Weight (kg)"].unique()
np.sort(unique_weight)

array([')', '0', '0.001', '0.002', '0.0028', '0.003', '0.004', '0.005',
       '0.0052', '0.0055', '0.006', '0.0061', '0.0066', '0.0074', '0.008',
       '0.009', '0.0093', '0.01', '0.0106', '0.011', '0.0114', '0.0116',
       '0.012', '0.014', '0.0148', '0.0152', '0.016', '0.017', '0.018',
       '0.02', '0.0205', '0.0206', '0.0214', '0.022', '0.023', '0.024',
       '0.025', '0.026', '0.0266', '0.0268', '0.027', '0.0272', '0.028',
       '0.029', '0.0294', '0.03', '0.0302', '0.031', '0.032', '0.034',
       '0.035', '0.036', '0.038', '0.0398', '0.04', '0.041', '0.042',
       '0.043', '0.044', '0.0442', '0.0448', '0.045', '0.046', '0.048',
       '0.0497', '0.0498', '0.05', '0.0502', '0.051', '0.052', '0.054',
       '0.0545', '0.055', '0.056', '0.0564', '0.057', '0.0576', '0.058',
       '0.06', '0.061', '0.062', '0.063', '0.064', '0.065', '0.066',
       '0.068', '0.069', '0.07', '0.072', '0.074', '0.075', '0.076',
       '0.078', '0.0796', '0.08', '0.081', '0.0816', '0.082', '0.0822',
       '0.084', '0.085', '0.086', '0.0865', '0.0871', '0.088', '0.09',
       '0.092', '0.0922', '0.093', '0.094', '0.095', '0.096', '0.098',
       '0.1', '0.102', '0.103', '0.104', '0.105', '0.106', '0.108',
       '0.11', '0.112', '0.113', '0.114', '0.116', '0.117', '0.118',
       '0.119', '0.12', '0.122', '0.124', '0.125', '0.126', '0.128',
       '0.13', '0.132', '0.133', '0.135', '0.136', '0.138', '0.14',
       '0.142', '0.144', '0.145', '0.146', '0.147', '0.148', '0.15',
       '0.151', '0.152', '0.154', '0.156', '0.157', '0.158', '0.16',
       '0.162', '0.164', '0.165', '0.166', '0.168', '0.17', '0.171',
       '0.173', '0.174', '0.176', '0.178', '0.179', '0.18', '0.181',
       '0.182', '0.183', '0.184', '0.185', '0.186', '0.188', '0.19',
       '0.192', '0.194', '0.195', '0.196', '0.198', '0.2', '0.201',
       '0.202', '0.203', '0.204', '0.205', '0.206', '0.208', '0.21',
       '0.212', '0.213', '0.214', '0.216', '0.217', '0.218', '0.219',
       '0.22', '0.222', '0.223', '0.224', '0.225', '0.226', '0.227',
       '0.228', '0.229', '0.23', '0.231', '0.232', '0.234', '0.235',
       '0.236', '0.238', '0.24', '0.241', '0.244', '0.246', '0.25',
       '0.252', '0.254', '0.256', '0.257', '0.258', '0.26', '0.262',
       '0.264', '0.265', '0.266', '0.267', '0.268', '0.27', '0.272',
       '0.276', '0.278', '0.279', '0.28', '0.282', '0.284', '0.285',
       '0.286', '0.287', '0.288', '0.29', '0.292', '0.294', '0.296',
       '0.3', '0.304', '0.306', '0.307', '0.31', '0.311', '0.312',
       '0.314', '0.318', '0.32', '0.324', '0.328', '0.33', '0.332',
       '0.334', '0.34', '0.342', '0.344', '0.346', '0.35', '0.352',
       '0.355', '0.356', '0.358', '0.36', '0.362', '0.364', '0.366',
       '0.368', '0.37', '0.375', '0.376', '0.38', '0.386', '0.389',
       '0.39', '0.391', '0.392', '0.394', '0.395', '0.396', '0.397',
       '0.398', '0.4', '0.403', '0.404', '0.405', '0.408', '0.41',
       '0.412', '0.413', '0.416', '0.418', '0.42', '0.424', '0.426',
       '0.428', '0.43', '0.432', '0.434', '0.435', '0.436', '0.438',
       '0.44', '0.442', '0.446', '0.45', '0.452', '0.454', '0.455',
       '0.456', '0.458', '0.459', '0.46', '0.462', '0.463', '0.464',
       '0.466', '0.468', '0.47', '0.471', '0.472', '0.474', '0.476',
       '0.478', '0.48', '0.481', '0.486', '0.488', '0.49', '0.494',
       '0.496', '0.498', '0.5', '0.501', '0.502', '0.504', '0.506',
       '0.508', '0.51', '0.512', '0.513', '0.514', '0.516', '0.518',
       '0.52', '0.524', '0.525', '0.526', '0.528', '0.53', '0.534',
       '0.535', '0.536', '0.537', '0.538', '0.54', '0.542', '0.546',
       '0.548', '0.55', '0.552', '0.553', '0.554', '0.556', '0.558',
       '0.56', '0.561', '0.568', '0.569', '0.57', '0.573', '0.574',
       '0.575', '0.58', '0.584', '0.594', '0.6', '0.602', '0.604', '0.61',
       '0.612', '0.614', '0.62', '0.622', '0.623', '0.624', '0.63',
       '0.632', '0.634', '0.636', '0.638', '0.64', '0.644', '0.646',
       '0.653', '0.654', '0.658', '0.66', '0.662', '0.664', '0.666',
       '0.668', '0.67', '0.672', '0.69', '0.692', '0.694', '0.696', '0.7',
       '0.706', '0.72', '0.722', '0.727', '0.728', '0.73', '0.734',
       '0.74', '0.742', '0.75', '0.756', '0.76', '0.762', '0.766', '0.77',
       '0.78', '0.782', '0.79', '0.792', '0.798', '0.8', '0.805', '0.81',
       '0.816', '0.834', '0.848', '0.85', '0.9', '0.926', '0.934',
       '0.944', '0.95', '0.954', '0.96', '0.966', '0.978', '0.99',
       '0.997', '1', '1.001', '1.0016', '1.0018', '1.002', '1.0024',
       '1.0028', '1.003', '1.004', '1.005', '1.007', '1.0076', '1.0078',
       '1.008', '1.0084', '1.0088', '1.009', '1.0092', '1.01', '1.0102',
       '1.0103', '1.0104', '1.012', '1.0136', '1.0156', '1.0165',
       '1.0168', '1.0178', '1.0184', '1.019', '1.02', '1.025', '1.026',
       '1.028', '1.03', '1.0336', '1.0344', '1.0352', '1.036', '1.0368',
       '1.04', '1.046', '1.05', '1.052', '1.06', '1.0664', '1.074',
       '1.076', '1.078', '1.08', '1.084', '1.086', '1.088', '1.089',
       '1.09', '1.092', '1.096', '1.098', '1.1', '1.102', '1.104', '1.11',
       '1.112', '1.114', '1.122', '1.178', '1.184', '1.2', '1.22', '1.25',
       '1.26', '1.29', '1.3', '1.328', '1.354', '1.36', '1.362', '1.37',
       '1.374', '1.4', '1.48', '1.5', '1.506', '1.7', '1.792', '1.9',
       '1.902', '10', '10.012', '10.07', '2.003', '2.004', '2.007',
       '2.01', '2.012', '2.0212', '2.03', '2.04', '2.05', '2.088',
       '2.0968', '2.1', '2.112', '2.194', '2.198', '2.2', '2.25', '2.316',
       '2.4', '2.5', '2.81', '2.914', '3.044', '3.05', '4.0781', '4.6176',
       '4.706', '4.728', '4.764', '4.954', '5.001', '5.0014', '5.0029',
       '5.008', '5.009', '5.013', '5.0182', '5.023', '5.031', '5.05',
       '5.074', '7.045', '7.0486', '?', '@', 'aa', 'gg'], dtype=object)

Unwanted inputs: ')', '?', '@', 'aa', 'gg'

In [8]:
unique_height = data["Height (m)"].unique()
np.sort(unique_height)

array(['&', '*', '0', '0.001', '0.01', '0.0135', '0.015', '0.017', '0.02',
       '0.0215', '0.022', '0.025', '0.0254', '0.03', '0.0315', '0.035',
       '0.0381', '0.039', '0.04', '0.043', '0.0445', '0.045', '0.046',
       '0.048', '0.05', '0.0508', '0.055', '0.059', '0.06', '0.0635',
       '0.065', '0.068', '0.07', '0.072', '0.075', '0.0762', '0.08',
       '0.0838', '0.085', '0.086', '0.088', '0.0889', '0.09', '0.093',
       '0.095', '0.1', '0.1016', '0.102', '0.104', '0.105', '0.108',
       '0.11', '0.1105', '0.112', '0.114', '0.1143', '0.115', '0.12',
       '0.125', '0.13', '0.132', '0.133', '0.135', '0.1397', '0.14',
       '0.142', '0.1425', '0.143', '0.145', '0.148', '0.15', '0.152',
       '0.1524', '0.155', '0.16', '0.165', '0.1651', '0.1676', '0.168',
       '0.17', '0.172', '0.173', '0.175', '0.1778', '0.18', '0.1803',
       '0.1829', '0.1842', '0.185', '0.19', '0.1905', '0.195', '0.1981',
       '0.2', '0.2032', '0.205', '0.207', '0.21', '0.2105', '0.212',
       '0.213', '0.215', '0.2159', '0.22', '0.225', '0.2286', '0.23',
       '0.2349', '0.235', '0.24', '0.2413', '0.243', '0.244', '0.245',
       '0.25', '0.254', '0.255', '0.2591', '0.26', '0.265', '0.27',
       '0.273', '0.275', '0.2794', '0.28', '0.285', '0.2858', '0.29',
       '0.2921', '0.295', '0.3', '0.3048', '0.31', '0.3175', '0.32',
       '0.327', '0.33', '0.335', '0.34', '0.35', '0.3556', '0.36',
       '0.3683', '0.37', '0.38', '0.381', '0.385', '0.39', '0.41', '0.44',
       '0.45', '0.48', '0.5', '0.53', '0.55', '0.6', '0.7', '0.95', '1',
       '11.05', 'ss', '|'], dtype=object)

Unwanted inputs: '&', '*', 'ss', '|'

In [9]:
unique_length = data["Length (m)"].unique()
np.sort(unique_length)

array(['(', '.', '0', '0.002', '0.01', '0.012', '0.015', '0.0175', '0.02',
       '0.022', '0.025', '0.028', '0.03', '0.033', '0.035', '0.0385',
       '0.04', '0.045', '0.048', '0.05', '0.0508', '0.052', '0.053',
       '0.0536', '0.055', '0.06', '0.062', '0.0635', '0.065', '0.066',
       '0.0698', '0.07', '0.071', '0.075', '0.0762', '0.08', '0.081',
       '0.082', '0.084', '0.085', '0.088', '0.0889', '0.09', '0.0914',
       '0.092', '0.094', '0.095', '0.097', '0.098', '0.1', '0.1016',
       '0.102', '0.103', '0.105', '0.1092', '0.11', '0.114', '0.1143',
       '0.115', '0.12', '0.123', '0.125', '0.127', '0.1295', '0.13',
       '0.135', '0.1397', '0.14', '0.143', '0.145', '0.1461', '0.15',
       '0.1524', '0.155', '0.16', '0.165', '0.1651', '0.17', '0.175',
       '0.1778', '0.18', '0.182', '0.185', '0.19', '0.1905', '0.195',
       '0.2', '0.202', '0.2032', '0.205', '0.21', '0.213', '0.215',
       '0.217', '0.22', '0.221', '0.225', '0.2286', '0.23', '0.235',
       '0.24', '0.2413', '0.245', '0.248', '0.25', '0.254', '0.255',
       '0.26', '0.265', '0.27', '0.275', '0.2794', '0.28', '0.285',
       '0.29', '0.3', '0.3048', '0.305', '0.31', '0.32', '0.33', '0.34',
       '0.35', '0.3556', '0.36', '0.37', '0.375', '0.38', '0.381', '0.4',
       '0.41', '0.42', '0.43', '0.44', '0.45', '0.47', '0.52', '195',
       '24.05', '[', 'ee', 'gg'], dtype=object)

Unwanted inputs: '(',',', '.', '[', 'ee', 'gg'

In [10]:
unique_width = data["Width (m)"].unique()
np.sort(unique_width)

array(['!!', '%', '.', '0', '0.001', '0.005', '0.01', '0.012', '0.015',
       '0.019', '0.02', '0.022', '0.025', '0.028', '0.03', '0.032',
       '0.033', '0.035', '0.038', '0.0381', '0.0385', '0.04', '0.042',
       '0.045', '0.048', '0.05', '0.0508', '0.052', '0.053', '0.0536',
       '0.055', '0.06', '0.062', '0.0635', '0.065', '0.066', '0.0698',
       '0.07', '0.072', '0.075', '0.0762', '0.08', '0.081', '0.082',
       '0.085', '0.0864', '0.088', '0.0889', '0.09', '0.0914', '0.092',
       '0.095', '0.0965', '0.098', '0.1', '0.1016', '0.105', '0.11',
       '0.114', '0.115', '0.12', '0.125', '0.127', '0.1295', '0.13',
       '0.135', '0.14', '0.145', '0.15', '0.1524', '0.155', '0.16',
       '0.165', '0.1651', '0.17', '0.175', '0.1778', '0.18', '0.185',
       '0.19', '0.1905', '0.195', '0.2', '0.2032', '0.21', '0.22',
       '0.2286', '0.23', '0.24', '0.2413', '0.25', '0.254', '0.26',
       '0.27', '0.28', '0.29', '0.3', '0.3048', '0.31', '0.33', '0.3302',
       '0.34', '0.345', '0.38', '0.381', '0.385', '0.39', '0.4064',
       '0.42', '0.45', '0.508', '0.55', '12', '^', 'dd', 'jj', '“'],
      dtype=object)

Unwanted inputs: '!!', '%', '.', '^', 'dd', 'jj', '“'

Now we read the data again but this time we consider the wrong string inputs as null values. Then we replace them like we did before

In [11]:
data = pd.read_csv('Products.csv', na_values = [')', '?', '@', 'aa', 'gg', '&', '*', 'ss', '|',',', '.', '[', 'ee', '(', '!!', '%', '^', 'dd', 'jj', '“'])
data = data.fillna(method ='bfill')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3058 entries, 0 to 3057
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product Id   3058 non-null   int64
 1   Weight (kg)  3058 non-null   float64
 2   Length (m)   3058 non-null   float64
 3   Width (m)    3058 non-null   float64
 4   Height (m)   3058 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 119.6 KB

As we can see there no more null values left and data types are of one type which indicates there are no unwanted string values in any columns.

Finally, For finiding any possible wrong numeric inputs, first, lets check the description of the dataset.

In [12]:
data.describe()

          Product Id  Weight (kg)   Length (m)    Width (m)   Height (m)
count    3058.000000  3058.000000  3058.000000  3058.000000  3058.000000
mean    80284.284173     0.237821     0.135689     0.049208     0.067476
std     24714.197188     0.638787     3.552538     0.225024     0.219503
min     44331.000000     0.000000     0.000000     0.000000     0.000000
25%     60380.250000     0.000000     0.000000     0.000000     0.000000
50%     76429.500000     0.006000     0.010000     0.005000     0.010000
75%     92478.750000     0.256000     0.105000     0.075000     0.115000
max    129318.000000    10.070000   195.000000    12.000000    11.050000

We can see the minimum values for weight, length, width and height are all 0, which is not physically possible. so the inputs with 0 values should be concidered wrong. We need to treat them as null values as well.

In [13]:
data[data["Weight (kg)"] == 0] = np.nan
data[data["Length (m)"] == 0] = np.nan
data[data["Width (m)"] == 0] = np.nan
data[data["Height (m)"] == 0] = np.nan
data = data.fillna(method ='bfill')
data.describe()

          Product Id  Weight (kg)   Length (m)    Width (m)   Height (m)
count    3058.000000  3058.000000  3058.000000  3058.000000  3058.000000
mean    80344.276324     0.474649     0.204605     0.098698     0.133567
std     24747.197983     0.808709     3.551057     0.224032     0.220360
min     44331.000000     0.001000     0.002000     0.001000     0.001000
25%     60396.000000     0.114000     0.070000     0.050800     0.050000
50%     76429.500000     0.261000     0.110000     0.080000     0.110000
75%     92484.000000     0.520000     0.180000     0.120000     0.190000
max    129318.000000    10.070000   195.000000    12.000000    11.050000

As we can see there are no longer any 0 values in the dataset. So, the dataframe is now without any null, wrong string and wrong numeric values.